<div class="posts-container">
	{{#if posts}}
		<div class="search-message">
			<div class="padder">
				Looking for something?
				<a href="/post/search">
					Try searching.
				</a>
			</div>
		</div>
	{{else}}
		<div class="alert alert-info">
			There are no posts at this time.
		</div>
	{{/if}}
	{{#posts}}
		<article class="blogpost">
			<header class="blogpost-header">
				<h1>
					{{title}}
				</h1>
				<div class="publishing-info">
					Posted by
					<a href="mailto:{{author.email}}">
						{{author.name}}
					</a>
					on
					<span class="date">
						{{verbose-date on}}.
					</span>
				</div>
				{{#if last_editor}}
				<div class="editing-info">
					Last edited by
					<a href="mailto:{{last_editor.email}}">
						{{last_editor.name}}
					</a>
					on
					<span class="date">
						{{verbose-date last_edited_on}}.
					</span>
				</div>
				{{/if}}
				{{#if tags}}
					<div class="tags">
						Tags: {{comma-separated tags}}.
					</div>
				{{/if}}
				{{#if ../user}}
					<div class="actions">
						<a href="/post/edit/{{_id}}">
							Edit or delete this post.
						</a>
					</div>
				{{/if}}
			</header>
			<div class="blogpost-body">
				{{markdown body}}
			</div>
			<div class="blogpost-comments">
				<form class="blogpost-comment-form" method="post" action="/post/comment">
					<input type="hidden" name="post_id" value="{{_id}}">
					{{#unless ../user}}
						<input class="form-control" type="text" name="name" placeholder="Your name.">
					{{/unless}}
					<textarea class="form-control" name="body" placeholder="Your comment."></textarea>
					<input class="btn btn-default" type="submit" value="Publish">
					<input class="btn btn-default" type="reset" value="Cancel" onclick="$(this).parents('.blogpost-comments').removeClass('commenting')">
				</form>
				<div class="comment-count">
					{{#if comments}}
						This post has {{comments.length}} comments.
					{{else}}
						This post has no comments.
					{{/if}}
					<a href="#" onclick="$(this).parents('.blogpost-comments').addClass('commenting')">
						Leave yours.
					</a>
				</div>
				{{#comments}}
					<div class="blogpost-comment">
						<div class="author">
							{{author}} says:
						</div>
						{{markdown body}}
					</div>
				{{/comments}}
			</div>
		</article>
	{{/posts}}
</div>

