<article class="blogpost">
	<header class="blogpost-header">
		<h1>
			<a href="/post/{{_id}}/{{make-slug title}}">
				{{title}}
			</a>
		</h1>
		<div class="publishing-info">
			Posted by
			<a href="mailto:{{author.email}}">
				{{author.name}}
			</a>
			on
			<span class="date">
				{{verbose-date on}}.
			</span>
		</div>
		{{#if last_editor}}
		<div class="editing-info">
			Last edited by
			<a href="mailto:{{last_editor.email}}">
				{{last_editor.name}}
			</a>
			on
			<span class="date">
				{{verbose-date last_edited_on}}.
			</span>
		</div>
		{{/if}}
		{{#if tags}}
			<div class="tags">
				Tags:
				{{#comma-separated tags}}
					<a href="/post/by-tag/{{this}}">{{this}}</a>
				{{/comma-separated}}.
			</div>
		{{/if}}
		{{#if root.user}}
			<div class="actions">
				<a href="/post/edit/{{_id}}">
					Edit or delete this post.
				</a>
			</div>
		{{/if}}
	</header>
	<div class="blogpost-body">
		{{markdown body}}
	</div>
	{{#if root.comments-disabled}}
		<div class="comment-count">
			Comments have been disabled.
		</div>
	{{else}}
		<div class="blogpost-comments">
			<form class="blogpost-comment-form" method="post" action="/post/comment">
				<input type="hidden" name="post_id" value="{{_id}}">
				{{#unless root.user}}
					<input class="form-control" type="text" name="name" placeholder="Your name.">
				{{/unless}}
				<textarea class="form-control" name="body" placeholder="Your comment."></textarea>
				<input class="form-control" type="text" name="damn-robots" placeholder="Prove you're not a damn robot: What's the color of this blog's header?">
				<input class="btn btn-default" type="submit" value="Publish" disabled>
				<input class="btn btn-default" type="reset" value="Cancel" onclick="$(this).parents('.blogpost-comments').removeClass('commenting')">
			</form>
			<div class="comment-count">
				{{#if comments}}
					This post has {{comments.length}} comments.
				{{else}}
					This post has no comments.
				{{/if}}
				<a href="#!" onclick="$(this).parents('.blogpost-comments').addClass('commenting')">
					Leave yours.
				</a>
			</div>
			{{#comments}}
				<div class="blogpost-comment">
					<div class="author">
						{{author}} says:
					</div>
					{{markdown body}}
				</div>
			{{/comments}}
		</div>
	{{/if}}
</article>
