<div class="posts-container">
	{{#posts}}
		<article class="blogpost">
			<header class="blogpost-header">
				<h1>
					{{title}}
				</h1>
				<div class="publishing-info">
					Posted by
					<a class="author" href="mailto:{{author.email}}">
						{{author.name}}
					</a>
					on
					<span class="date">
						{{verbose-date on}}.
					</span>
				</div>
				{{#last_editor}}
				<div class="editing-info">
					Last edited by
					<a class="author" href="mailto:{{email}}">
						{{name}}
					</a>
					on
					<span class="date">
						{{verbose-date ../last_edited_on}}.
					</span>
				</div>
				{{/last_editor}}
				{{#if tags}}
					<div class="tags">
						Tags:
						<ul class="comma-separated">
							{{#tags}}
								<li>{{this}}</li>
							{{/tags}}
						</ul>
					</div>
				{{/if}}
				<div class="actions">
					<a class="edit" href="/edit/{{_id}}">
						Edit or delete this post.
					</a>
				</div>
			</header>
			<div class="blogpost-body">
				{{markdown body}}
			</div>
		</article>
	{{/posts}}
	{{^posts}}
		<div class="alert alert-info">
			There are no posts at this time.
		</div>
	{{/posts}}
</div>

